#nav{
    height: 160px;
    width: 100%;
    border: 1px solid white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
 
 }
 *{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 #nav_1{
     height: 20%;
     width: 100%;
     border: 1px solid white;
     display: flex;
 }
 #nav_2{
     height: 50%;
     width: 100%;
     border: 1px solid white;
    
 }
 #nav_3{
     height: 29%;
     width: 100%;
     border: 1px solid white;
     background-color: black;
     display: flex;
     align-items: center;
 }
 #nav_1_1{
     height: 100%;
     width: 33.3%;
     border: 1px solid white;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
    
 }
 #nav_1_2{
     height: 100%;
     width: 33.3%;
     border: 1px solid white;
 }
 #nav_1_3{
     height: 100%;
     width: 33%;
     border: 1px solid white;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 #select_btn{
     width: auto;
     border: 1px solid white;
     text-decoration: underline;
     font-size: 13px;
     font-weight: lighter;
 }
 #select_btn:hover{
     text-decoration: none;
     font-weight: bolder;
 }
 #customer_btn{
     font-weight: lighter;
    
     font-size: 13px;
     color: black;
 }
 #customer_btn:hover{
     text-decoration: none;
     font-weight: bolder;
 }
 #nav_1_3 div{
     font-size: 13px;
     font-weight: lighter;
     
 }
 #register_btn:hover{
     text-decoration: none;
     font-weight: bolder;
 }
 #login_btn:hover{
     text-decoration: none;
     font-weight: bolder;
 }
 #nav_1_3 a{
     color: black;
 }
 #nav_1_3 a:hover{
     font-weight: bolder;
 }
 #nav_1_2{
     display: flex;
     align-items: center;
     font-size: 13px;
     font-weight: lighter;
     color: black;
 }
 #nav_2_1{
     height: 100%;
     width: 80%;
     border: 1px solid white;
     margin: auto;
     display: flex;
 }
 #nav_2_1_1{
     height: 100%;
     width: 33%;
     border: 1px solid white;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 #nav_2_1_2{
     height: 100%;
     width: 33%;
     border: 1px solid white;
     display: flex;
     justify-content: center;
 }
 #nav_2_1_3{
     height: 100%;
     width: 33%;
     border: 1px solid white;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 #nav_2_1_1 a{
     font-weight: lighter;
     color: black;
     font-size: 13px;
     text-decoration: none;
 }
 #nav_2_1_2 a{
    display: flex;
    justify-content: center;
 }
 #nav_3_1{
     height: 95%;
     width: 80%;
     border: 1px solid black;
     margin: auto;
     display: flex;
     justify-content: space-evenly;
     background-color: black;
     align-items: center;
 }
 #nav_3_1 div{
     font-weight: lighter;
     color: black;
     font-size: 13px;
     text-decoration: none;
    
 }
 #nav_3_1 a{
     color: white;
     text-decoration: none;
    
 }
 #nav_3_1 a:hover{
     color: rgb(117, 113, 113);
 }
 #nav_3_1 div{
     height: auto;
 }
 #nav_2_1_1 a:hover{
     text-decoration: underline;
     font-weight: bolder;
 }
 #new1{
     padding: 15px;
 }

 
 #footer{
    height: 600px;
    width: 100%;
    border: 1px solid #F3F3F3;
}
#footer_1{
    height: 75%;
    width: 100%;
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
}
#footer_2{
    height: 25%;
    width: 100%;
    border: 1px solid #F3F3F3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 12px;
} 
#footer_1_1{
    height: 85%;
    width: 100%;
    border: 1px solid #F3F3F3;
}
#footer_1_2{
    height: 15%;
    width: 100%;
    border: 1px solid #F3F3F3;
} 
#footer_1_1_1{
    height: 90%;
    width: 80%;
    border: 1px solid #F3F3F3;
    margin: auto;
    display: flex;
   margin-top: 15px;
}
.foot{
    height: 100%;
    width: 17%;
    border: 1px solid #F3F3F3;
    text-align: center;
  
}
#footnew{
    height: 100%;
    width: 32%;
    border: 1px solid #F3F3F3;
     text-align: center;
     background-color: white;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.foot *{
    margin-top: 10px;
}
#footnew *{
   margin-top: 10px;
}
#footnew input{
    padding: 8px;
}
#footnew button{
    padding: 10px;
    width: 200px;
    background-color: black;
    color: white;
}
#footnew button:hover{
    color: rgb(173, 166, 166);
}
#footer_1_2{
    display: flex;
}
#footer_1_2 div{
   height: 97%;
   width: 50%;
   border: 1px solid #F3F3F3;
}
#footer_1_2_1{
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: space-evenly;
}
#footer_1_2_2{
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: space-evenly;
}

*{
    text-align: center;
}
#top-1{
    width: 60%;
    margin: 50px 20%;
}
#top-2{
    width: 60%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
    margin: auto;
    margin-bottom: 40px;
}
#top-2:hover{
    width: 60%;
    box-shadow: rgba(8, 8, 240, 0.25) 0px 13px 27px -5px, rgba(5, 5, 238, 0.25) 3px 8px 16px -8px;
    margin: auto;
    margin-bottom: 40px;
}
#top-2>h2{
    text-align: left;
    margin-left: 20px;
    padding: 10px;
}
#top-2>div{
    display: flex;
    gap: 20px;
    padding: 0 20px;
}
#top-2>div>input{
    padding: 10px;
    margin-bottom: 20px;
    width: 60%;
    text-align: left;
    font-size: 20px;
    background-color: #F3F3F3;
    border: none;
}

#top-2>div>button{
    padding: 10px;
    margin-bottom: 20px;
    width: 30%;
    background-color: rgb(43, 42, 42);
    color: white;
    font-size: 20px;
    font-weight: 600;
}
#mid-1{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 30px;
}
#mid-1>div>h2{
    text-align: left;
}
#mid-1>div{
width: 45%;
padding-left: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
}
#mid-1>div:hover{
    width: 45%;
    padding-left: 20px;
    box-shadow: rgba(8, 8, 240, 0.25) 0px 13px 27px -5px, rgba(5, 5, 238, 0.25) 3px 8px 16px -8px;
    }
#mid-1>div>div{
    display: flex;
    margin: 10px 0;
}
#mid-1>div>div svg{
    width: 40px;
    height: 50px;
    margin-right: 10px;
    opacity: 0.8;
}
#mid-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
}
#mid-2>div>svg{
    width: 40px;
    height: 50px;
    opacity: 0.8;
    margin-top: 10px;
}
#mid-2>div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
}
#mid-2>div:hover{
    box-shadow: rgba(8, 8, 240, 0.25) 0px 13px 27px -5px, rgba(5, 5, 238, 0.25) 3px 8px 16px -8px;
}
#bot-1{
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
#bot-1>div:first-child>div>svg{
width: 10px;
height: 10px;
margin-top: 25px;
margin-right: 5px;
margin-left: 10px;
}
#bot-1>div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
    width: 45%;
    margin-bottom: 30px;
}
#bot-1>div:hover{
    box-shadow: rgba(8, 8, 240, 0.25) 0px 13px 27px -5px, rgba(5, 5, 238, 0.25) 3px 8px 16px -8px;
    width: 45%;
    margin-bottom: 30px;
}
#bot-1>div>div{
    display: flex;
    margin: -20px 0;
    padding: -10px 0;
}
#bot-1>div>h2{
    text-align: left;
    margin-left: 10px;
}
#bot-1>div:first-child>div>h4{
    text-decoration: underline;
}
#bot-1>div>h5{
    text-align: right;
    margin-right: 10px;
    text-decoration: underline;
    margin-top: 50px;
}
#bot-1>div:last-child>div{
   margin: 10px 0;
}

#bot-1>div:last-child>div>svg{
    width: 40px;
    height: 40px;
    margin:10px 20px;
}
#bot-1>div:last-child>div>div>h4{
    margin-bottom: -10px;
}
#bot-1>div:last-child>div>div>p,#bot-1>div:last-child>div>div>h4{
    text-align: left;

 }