
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*--------------------navbar-------------*/
#nav{
   height: 160px;
   width: 100%;
   border: 1px solid white;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  

}
#nav_1{
    height: 20%;
    width: 100%;
    border: 1px solid white;
    display: flex;
}
#nav_2{
    height: 50%;
    width: 100%;
    border: 1px solid white;
   
}
#nav_3{
    height: 29%;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    display: flex;
    align-items: center;
}
#nav_1_1{
    height: 100%;
    width: 33.3%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
#nav_1_2{
    height: 100%;
    width: 33.3%;
    border: 1px solid white;
}
#nav_1_3{
    height: 100%;
    width: 33%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#select_btn{
    width: auto;
    border: 1px solid white;
    text-decoration: underline;
    font-size: 13px;
    font-weight: lighter;
}
#select_btn:hover{
    text-decoration: none;
    font-weight: bolder;
}
#customer_btn{
    font-weight: lighter;
   
    font-size: 13px;
    color: black;
}
#customer_btn:hover{
    text-decoration: none;
    font-weight: bolder;
}
#nav_1_3 div{
    font-size: 13px;
    font-weight: lighter;
    
}
#register_btn:hover{
    text-decoration: none;
    font-weight: bolder;
}
#login_btn:hover{
    text-decoration: none;
    font-weight: bolder;
}
#nav_1_3 a{
    color: black;
}
#nav_1_3 a:hover{
    font-weight: bolder;
}
#nav_1_2{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: lighter;
    color: black;
}
#nav_2_1{
    height: 100%;
    width: 80%;
    border: 1px solid white;
    margin: auto;
    display: flex;
}
#nav_2_1_1{
    height: 100%;
    width: 33%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav_2_1_2{
    height: 100%;
    width: 33%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}
#nav_2_1_3{
    height: 100%;
    width: 33%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav_2_1_1 a{
    font-weight: lighter;
    color: black;
    font-size: 13px;
    text-decoration: none;
}
#nav_2_1_2 a{
   display: flex;
   justify-content: center;
}
#nav_3_1{
    height: 95%;
    width: 80%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
}
#nav_3_1 div{
    font-weight: lighter;
    color: black;
    font-size: 13px;
    text-decoration: none;
   
}
#nav_3_1 a{
    color: white;
    text-decoration: none;
   
}
#nav_3_1 a:hover{
    color: rgb(117, 113, 113);
}
#nav_3_1 div{
    height: auto;
}
#nav_2_1_1 a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
#new1{
    padding: 15px;
   
}
/*-------------------middle--------------*/

/*.margin-top{
    margin-top: -5px;
    
}*/
#nayadiv1{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/hero_v6.png?v=1");
    background-size: 100%;
  

}


#nayadiv2{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/4.jpg?v=2");
    background-size: 100%;
    display: flex;
    align-items: center;
}
.nayadiv2_1{
    height: 250px;
    width: 450px;
    border: 1px solid transparent;
    display: flex;
    margin-left: 30px;
    justify-content: space-evenly;
   
}
.nayadiv2_1 div{
    height: 100%;
    width: 40%;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 6px;
}
#nayadiv3{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/5.jpg?v=2");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
#nayadiv4{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/6.jpg?v=2");
    background-size: 100%;
    display: flex;
    align-items: center;
}
#nayadiv5{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/7.jpg?v=2");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
#nayadiv6{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/8.jpg?v=2");
    background-size: 100%;
    display: flex;
    align-items: center;
}
#nayadiv7{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/9.jpg?v=2");
    background-size: 100%;
     display: flex;
    align-items: center;
    justify-content: end;
}
#nayadiv8{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/12.jpg?v=2");
    background-size: 100%;
    display: flex;
    align-items: center;
}
#nayadiv9{
    height: 600px;
    background-image: url("https://secure.social.yoox.it/yspecial/NATALE/2022/MERGED/11.jpg?v=2");
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.btn_in{
    display: block;
    margin: auto;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
   
}
.itag{
    text-decoration: none;
    color: red;
}

/*--------------------footer-------------*/
#footer{
    height: 600px;
    width: 100%;
    border: 1px solid #F3F3F3;
}
#footer_1{
    height: 75%;
    width: 100%;
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
}
#footer_2{
    height: 25%;
    width: 100%;
    border: 1px solid #F3F3F3;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 12px;
} 
#footer_1_1{
    height: 85%;
    width: 100%;
    border: 1px solid #F3F3F3;
}
#footer_1_2{
    height: 15%;
    width: 100%;
    border: 1px solid #F3F3F3;
} 
#footer_1_1_1{
    height: 90%;
    width: 80%;
    border: 1px solid #F3F3F3;
    margin: auto;
    display: flex;
   margin-top: 15px;
}
.foot{
    height: 100%;
    width: 17%;
    border: 1px solid #F3F3F3;
    text-align: center;
  
}
#footnew{
    height: 100%;
    width: 32%;
    border: 1px solid #F3F3F3;
     text-align: center;
     background-color: white;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.foot *{
    margin-top: 10px;
}
#footnew *{
   margin-top: 10px;
}
#footnew input{
    padding: 8px;
}
#footnew button{
    padding: 10px;
    width: 200px;
    background-color: black;
    color: white;
}
#footnew button:hover{
    color: rgb(173, 166, 166);
}
#footer_1_2{
    display: flex;
}
#footer_1_2 div{
   height: 97%;
   width: 50%;
   border: 1px solid #F3F3F3;
}
#footer_1_2_1{
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: space-evenly;
}
#footer_1_2_2{
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: space-evenly;
}
#abc{
    color: white;
    text-decoration: none;
}


   