#banner1{
    margin-top: 30px;
}
    #content1{
        height: fit-content;
        line-height: 0.5in;
        text-align: center;
        font-size: larger;
    }
    #designer{
        width: 90%;
        display: flex;
        margin: auto;
        margin-top: 150px;
        margin-left: 100px;
        height: 600px;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 200px;
        line-height: 0.5in;
        background-color: #F3F3F3;
    }

    
    #DESIGNERS{
        padding-top: 30px;
        margin-top: -50px;
        margin-bottom: 100px;
        width: 350px;
        text-align: center;
        line-height: 0.4in;
        background-color: white;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }    
    #DESIGNERS>a{
        display: block;
    }
    #part1{
        background-color: rgb(236, 240, 240);
        text-align: center;
    }
    .watch{
    margin-top: 100px;
    
    }
    #part3{
        display: flex;
        margin-top: 300px;
       margin-left:500px;
       background-color:#F3F3F3 ;
    }
    #part4{
        margin-bottom: 10px;
        margin-left: 80px;
    }
    #DESIGNERS>a:hover{
        color:  rgb(160, 163, 163);;
    }
    
*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*--------------------navbar-------------*/
#nav{
   height: 160px;
   width: 100%;
   border: 1px solid white;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
#nav_1{
    height: 20%;
    width: 100%;
    border: 1px solid white;
    display: flex;
}
#nav_2{
    height: 50%;
    width: 100%;
    border: 1px solid white;
   
}
#nav_3{
    height: 29%;
    width: 100%;
    border: 1px solid white;
    background-color: black;
    display: flex;
    align-items: center;
}
#nav_1_1{
    height: 100%;
    width: 33.3%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
#nav_1_2{
    height: 100%;
    width: 33.3%;
    border: 1px solid white;
}
#nav_1_3{
    height: 100%;
    width: 33%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#main{
    margin-top: 40px;
    margin-bottom: 30px;
}
#select_btn{
    width: auto;
    border: 1px solid white;
    text-decoration: underline;
    font-size: 13px;
    font-weight: lighter;
}
#select_btn:hover{
    text-decoration: none;
    font-weight: bolder;
}
#customer_btn{
    font-weight: lighter;
   
    font-size: 13px;
    color: black;
}
#customer_btn:hover{
    text-decoration: none;
    font-weight: bolder;
}
#nav_1_3 div{
    font-size: 13px;
    font-weight: lighter;
    
}
#register_btn:hover{
    text-decoration: none;
    font-weight: bolder;
}
#login_btn:hover{
    text-decoration: none;
    font-weight: bolder;
}
#nav_1_3 a{
    color: black;
}
#nav_1_3 a:hover{
    font-weight: bolder;
}
#nav_1_2{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: lighter;
    color: black;
}
#nav_2_1{
    height: 100%;
    width: 80%;
    border: 1px solid white;
    margin: auto;
    display: flex;
}
#nav_2_1_1{
    height: 100%;
    width: 33%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav_2_1_2{
    height: 100%;
    width: 33%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}
#nav_2_1_3{
    height: 100%;
    width: 33%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nav_2_1_1 a{
    font-weight: lighter;
    color: black;
    font-size: 13px;
    text-decoration: none;
}
#nav_2_1_2 a{
   display: flex;
   justify-content: center;
}
#nav_3_1{
    height: 95%;
    width: 80%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    align-items: center;
}
#nav_3_1 div{
    font-weight: lighter;
    color: black;
    font-size: 13px;
    text-decoration: none;
   
}
#nav_3_1 a{
    color: white;
    text-decoration: none;
   
}
#nav_3_1 a:hover{
    color: rgb(117, 113, 113);
}
#nav_3_1 div{
    height: auto;
}
#nav_2_1_1 a:hover{
    text-decoration: underline;
    font-weight: bolder;
}
#new1{
    padding: 15px;
   
}
/*--------------------footer-------------*/
#footer{
    height: 600px;
    width: 100%;
    border: 1px solid white;
}
#footer_1{
    height: 75%;
    width: 100%;
    border: 1px solid #F3F3F3;
    background-color: #F3F3F3;
}
#footer_2{
    height: 25%;
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: black;
    font-size: 12px;
} 
#footer_1_1{
    height: 85%;
    width: 100%;
    border: 1px solid #F3F3F3;
}
#footer_1_2{
    height: 15%;
    width: 100%;
    border: 1px solid #F3F3F3;
} 
#footer_1_1_1{
    height: 90%;
    width: 80%;
    border: 1px solid #F3F3F3;
    margin: auto;
    display: flex;
   margin-top: 15px;
}
.foot{
    height: 100%;
    width: 17%;
    border: 1px solid white;
    text-align: center;
  
}
#footnew{
    height: 100%;
    width: 32%;
    border: 1px solid white;
     text-align: center;
     background-color: white;
     
}
.foot *{
    margin-top: 10px;
}
#footnew *{
   margin-top: 10px;
}
#footnew input{
    padding: 8px;
}
#footnew button{
    padding: 10px;
    width: 200px;
}
#footer_1_2{
    display: flex;
}
#footer_1_2 div{
   height: 100%;
   width: 50%;
   border: 1px solid white;
}
#footer_1_2_1{
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: space-evenly;
}
#footer_1_2_2{
    display: flex;
    margin-left: 0px;
    align-items: center;
    justify-content: space-evenly;
}

/* slide stylr */

html, body {
    margin: 0;
    padding: 0;
  }
  
  #part3_0{
    display: flex;
    width:80%;
    height:600px;
    justify-content: space-evenly;
    border:1pxsolid red;
    margin-top: 300px;
    margin-left: 200px;
    line-height: 0.4in;
  }
  #recently{
    margin-top: 200px;
    font-size: 40px;
  }
  #partytym{
   text-align: center;
   padding-top: 100px;
    margin-top: -600px;
    height:300px;
    width: 25%;
    margin-left: 50px;
    line-height: 0.5in;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 20px;
    color: black;
  
  }
  #partytym1{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }
  a{
    color: black;
  }
  img:hover{
    cursor: pointer;
  }
  p:hover{
    cursor: pointer;
  }
  #top{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
 height:40px;
 width:50px;
 text-align: center;
padding-top: 10px;
color: white;
background-color: black;
margin-left: 100px;
border-radius: 40px;
}